
/*.long .modal-body {*/
    /*max-height : 720px;*/
/*}*/

.long .bootbox-body {
    max-height : 720px;
    overflow-y : auto;
    overflow-x : hidden;
}

.long.modal-dialog {
    width : 1100px;
}

.medium .bootbox-body {
    max-height : 720px;
    overflow-y : auto;
    overflow-x : hidden;
}

.medium.modal-dialog {
    width : 700px;
}